body {
font-family: Helvetica;
text-align: center;
background-image: url('http://www.esa.int/var/esa/storage/images/esa_multimedia/images/2003/09/a_mosaic_of_satellite_images_showing_a_cloud-free_europe/10066580-2-eng-GB/A_mosaic_of_satellite_images_showing_a_cloud-free_Europe.jpg');
color: white;
margin: 0;
border: 0;
padding: 0;
text-align: justify;
}
#container
{
width: 1200px;
margin: 0 auto;
background-color: rgba(0,0,0,0.3);
}

h1 {text-align: center; font-weight: 800; font-size: 60px;}

#navigation li a:hover { }

#edito
{
margin: 20px;
}

h2
{
background-color: #446CB3;
color: #E4F1FE;
padding-left: 10px;
}

div.element
{
float: left;
margin: 20px;
}

div.element img
{
float: right;
width: 200px;
margin-left: 20px;
}

h3 {
	font-size: 13px;}
a {
	color: white;	
}
